# ===== Editor & IDE =====
.vscode/
.idea/

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Dependency (jika suatu saat pakai Node) =====
node_modules/

# ===== Build / Cache =====
dist/
build/

# ===== Environment (jika ada nanti) =====
.env
.env.local